<?xml version="1.0"?>
<config>
    <modules>
        <Solwin_Social>
            <version>1.0.0</version>
        </Solwin_Social>
    </modules>
    <global>
        <helpers>
            <social>
                <class>Solwin_Social_Helper</class>
            </social>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <social>
                    <file>social.xml</file>
                </social>
            </updates>
        </layout>
        <routers>
            <social>
                <use>standard</use>
                <args>
                    <module>Solwin_Social</module>
                    <frontName>social</frontName>
                </args>
            </social>
        </routers>
    </frontend>
    <default>
        <socialsettings>
            <facebook>
                <iframewidth>200</iframewidth>
                <iframeheight>250</iframeheight>
                <facebookleft>1</facebookleft>
            </facebook>
        </socialsettings>
    </default>
</config> 